* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#info{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#info div {
    padding: 3rem;
    background: rgb(87, 151, 103);
    margin: 0.5rem;
    border-radius: 10px;
    color: bisque;
    font-size: 1.2rem;
    text-align: center;
}

.back-button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #f8c8dc;
    color: #333;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
}

.back-button:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}
